.flex-container {
    border: 1px solid orange;
    box-shadow: 10px 10px 5px rgb(131, 130, 130);
    width: 380px;
    height: 180px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 400px;
    text-align: center;
    font-size: 1.5em;
    color: orangered
}

.form-inline {
    border: 1px solid orangered;
    width: 200px;
    height: 20px;
    border-radius: 3px;
    position: absolute;
    top: 80px;
    left: 100px;
}

.teck {
    position: absolute;
    top: 120px;
    left: 150px;
    color: white;
    border: 5px solid orangered;
    background-color: orangered;
    border-radius: 20px;
    width: 70px;
}